{% extends 'base_generica.html' %}


{% block Banner %}
<br>
<br>
<br>
<br>
<br>
<br>
<form>
    <div class="modal-body" style= "display: flex; align-items: center; justify-content: center">
        <div class="form-group" style="margin-right:20px">
            <table>            
                <tr style="height: 2px;">
                    <td>                            
                        <label id="nome_cliente" style="color: white; font-size: 20px;">Informações de Acesso</label>
                    </td>
                </tr>           
                <tr style="height: 2px;">
                    <td>                            
                        <label id="nome_cliente" style="color: white;">Nome: {{g.func.nome}}</label>
                    </td>
                </tr>
                <tr style="height: 2px;">
                    <td>
                        
                        <label id="nome_cliente" style="color: white;">CPF: {{g.func.cpf | formatingCPF}}</label>
                    </td>
                </tr >
                <tr style="height: 2px;">
                    <td>                        
                        <label id="nome_cliente" style="color: white;">Email: {{g.func.email}}</label>
                    </td>
                </tr >
                <tr style="height: 2px;">
                    <td>
                        
                        <label id="nome_cliente" style="color: white;">Função: {{g.func.funcao}}</label>
                    </td>
                </tr >
                <tr style="height: 2px;">
                    <td>
                        
                        <label id="nome_cliente" style="color: white;">Nome de Usúario: {{g.user.username}}</label>
                    </td>
                </tr>                
            </table>
        </div>
        <div style="background-color: white; padding:30px; border-radius: 10px;">
            <div class="form-group" style="margin-top:30px; text-align:center; ">
                <H4 for="email1" style="font-weight:bold; color: black; font-size: 28px; margin-top:-30px; ">Manutenção / Criação</H4>            
            </div>
            <br>
            <br>
            <div class="row" style="margin-top:-30px; color: white; font-weight: bolder; font-size: 20px;">
                {% for cnt in acessos: %}
                <div class="" style="text-align:center">
                    <a class="nav-item nav-link navbar-nav ml-auto" href="{{cnt[5]}}" >
                        <span style="color: black;">{{cnt[4]}}</span>
                        <img src="{{cnt[1]}}{{cnt[2]}}" style="width: 250px; height: 225px; border: 1cm; border-color: white; border-radius: 10px;">
                    </a>            
                </div>          
                {% endfor %}

            </div>
        </div>

    </div>

    <!--<div class="modal-footer border-top-0 d-flex justify-content-center">
        <button type="submit" class="btn btn-success">Sair</button>
    </div>-->
</form>
    
{% endblock %}