<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<style>
div {margin:1em; font-size:.9em}	
.ui-progressbar {height: 2em; text-align: left;	overflow: hidden;}
.ui-progressbar .ui-progressbar-value {	margin: -1px;	height: 100%;}
.ui-widget-header {background: #77d4ee;}
</style>

 <script>
  $( function() {
    $( "#progressbar1" ).progressbar({value: 40});
    $( "#progressbar2" ).progressbar({value: 20});
    $( "#progressbar3" ).progressbar({value: 90});
    $( "#progressbar4" ).progressbar({value: 60});
    $( "#progressbar5" ).progressbar({value: 95});
    $( "#progressbar6" ).progressbar({value: 15});
    $( "#progressbar7" ).progressbar({value: 50});
    $( "#progressbar8" ).progressbar({value: 20});
    $( "#progressbar9" ).progressbar({value: 12});
    $( "#progressbar10" ).progressbar({value: 18});
    $( "#progressbar11" ).progressbar({value: 8});
  } );
 </script>

 
<div id="progressbar1">Demolição Alvenaria</div>
<div id="progressbar2">Construção Alvenaria</div>
<div id="progressbar3">Remoção Entulho</div>
<div id="progressbar4">Hidraúlica</div>
<div id="progressbar5">Elétrica</div>
<div id="progressbar6">Forro de Gesso</div>
<div id="progressbar7">Revestimentos</div>
<div id="progressbar8">Marmoraria</div>
<div id="progressbar9">Pintura</div>
<div id="progressbar10">Marcenaria</div>
<div id="progressbar11">Acabamentos</div>
 
