
<!DOCTYPE html>
<html lang="en">
<head>
<title>Table V01</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

    
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css" type="text/css">
    <link rel="stylesheet" type="text/css" href="/static/css/tabela.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>
<style>
.editar, .apagar {
	background-color:#276873;
	border-radius:5px;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:10px;
	font-weight:bold;
	padding:7px 8px;
	text-decoration:none;
	margin-left:5px;
	margin-right:0px;
}

.apagar {
	background-color:#b34332;
	margin-right:20px;	
}
</style>
</head>
<body style="background-color: rgb(200,200,200);">

<!--<div class="limiter">
<div class="container-table100">
<div class="wrap-table100">-->
<br>
    <form method="POST">
        <div class="table100">
            <label for="myInput">Filtro: </label>
            <input id="myInput" type="text" placeholder=" Filtre sua procura" size="30" style="height:30px; border:1px solid #bbb">
        <br><br>
            <table class= "table table-striped table-dark">
                <thead>
                    <tr class="table100-head">
                        <th class="column1">Código</th>
                        <th class="column2">Cliente</th>
                        <th class="column3">Projeto</th>
                        <th class="column4">Local</th>
                        <th class="column5">Orçamento</th>
                        <th class="column6">Inicio</th>
                        <th class="column7">Responsável</th>
                        <th class="column8">Status</th>
                        <th class="column9"></th>
                        <th class="column10"></th>
                    </tr>
                </thead>
                <tbody id="myTable">
                    {% if projetos: %}
                        {% for cnt in projetos: %}
                            <tr>
                                <td class="column1" style="cursor: default;">{{cnt[0]}}</td>
                                <td class="column2">{{cnt[1]}}</td>
                                <td class="column3">{{cnt[2]}}</td>
                                <td class="column4">{{cnt[3]}}</td>
                                <td class="column5">{{cnt[4]}}</td>
                                <td class="column6">{{cnt[5]}}</td>
                                <td class="column7">{{cnt[6]}}</td>
                                <td class="column8">{{cnt[7]}}</td>
                                <td class="column9"><button  id="btn_projeto" value="btn_select_projeto" name="btn_projeto" type="submit" class="editar">editar</button></td>
                                <td class="column10"><a href="#" class="apagar">apagar</a></td>
                            </tr>
                        {% endfor %}
                    {%else:%}
                        <tr>
                            <td style="color: black; text-align: center;  cursor: default;" colspan="7" class="msg-vazio"><h2>Ainda não foi cadastro nenhum projeto!</h2></td>
                        </tr>
                    {%endif%}
                </tbody>
            </table>
        </div>
    </form>
<!--</div>
</div>
</div>-->


</body>
</html>
