{% extends 'base_generica.html' %}

{% block Banner%}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="/static/css/tabela.css">
<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});

</script>
<style>
.editar, .apagar {
	background-color:#276873;
	border-radius:5px;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:10px;
	font-weight:bold;
	padding:7px 8px;
	text-decoration:none;
	margin-left:5px;
	margin-right:0px;
}

.apagar {
	background-color:#b34332;
	margin-right:20px;	
}

    .form-projeto input{
        padding: 0.5em;
        margin: 0 0;        
    }
    .form-projeto label{
        padding: 0.5em;
        margin: 0 0;
    }
    .select-cli{
        height: 30px;        
    }
    .list-project .list-column{
        height: 70%;
    }
    @media screen and (max-width:892px)
    {
        .list-project .list-column{
            height: 450px;
        }
    }












    input[type=range] {
    width: 100%;
    max-width: 100%;
    margin-left: 0;
}

/* style datalist */
input[type=range] + datalist {
    display: block;
    margin-top: -16px;
    font-size: 12px;
}
input[type=range] + datalist option {
    display: inline-block;
    width: calc((90% - 12px) / (var(--list-length) + 1.8));
    text-align: center;
}




/* style Firefox range and thumb */


</style>
<br>
<br>
<div class="row list-project" style="margin-top:110px; color: black; font-weight: bolder; font-size: 20px; height: 80%; cursor: default;">
    <div class="col-xl-6 col-lg-2 col-md-11 col-sm-7 list-column" style="margin-left: 0px; height: 720px;">
        <h3 style="text-align: center;">Projetos</h3>
        
            <label for="myInput">Filtro: </label>
            <input id="myInput" type="text" placeholder=" Filtre sua procura" size="30" style="width: 300px; height:30px; border:1px solid #bbb">
            <div class="table100" style="overflow: auto; overflow-y: scroll; height: 680px;">
            
                <table class= "table table-striped table-dark">
                    <thead>
                        <tr class="table100-head" style="height: 30px;">
                            <th class="column1">Código</th>
                            <th class="column2">Cliente</th>
                            <th class="column3">Projeto</th>
                            <th class="column4">Local</th>
                            <th class="column5">Orçamento</th>
                            <th class="column6">Inicio</th>
                            <th class="column7">Responsável</th>
                            <th class="column8">Status</th>
                            <th class="column9"></th>
                            <th class="column10"></th>
                        </tr>
                    </thead>
                    <tbody id="myTable">
                        {% if osProjetos: %}
                            {% for cnt in osProjetos: %}
                                <form method="POST">
                                    <tr style="cursor: default;">
                                        <td class="column1" style="cursor: default;">
                                        <input type="text" id="idProjeto" name="idProjeto" value="{{cnt[0]}}" readonly style="font-weight: bolder; color: rgba(120,120,120, 1); height: 15px; box-shadow: 0 0 0 0; border: 0 none; outline: 0; background-color: rgba(0,0,0, 0);"> </td>
                                        <td class="column2">{{cnt[1]}}</td>
                                        <td class="column3">{{cnt[2]}}</td>
                                        <td class="column4">{{cnt[3]}}</td>
                                        <td class="column5">{{cnt[4]}}</td>
                                        <td class="column6">{{cnt[5]}}</td>
                                        <td class="column7">{{cnt[6]}}</td>
                                        <td class="column8">{{cnt[7]}}</td>
                                        <td class="column9"><button  id="btn_admin_cli" value="btn_select_projeto" name="btn_admin_cli" type="submit" class="editar">editar</button></td>
                                        <td class="column10"><button  id="btn_admin_cli" value="btn_apagar_projeto" name="btn_admin_cli" type="submit" class="apagar">apagar</button></td>
                                    </tr>
                                </form>
                            {% endfor %}
                        {%else:%}
                            <tr>
                                <td style="color: black; text-align: center;  cursor: default;" colspan="7" class="msg-vazio"><h2>Ainda não foi cadastro nenhum projeto!</h2></td>
                            </tr>
                        {%endif%}
                    </tbody>
                </table>
            </div>
         
        <!--<iframe src="{{url_for('profile.Lista_Projetos_Admin')}}" style="width: 100%; height: 100%;"></iframe>        -->
    </div>
    
    <div class="col-xl-6 col-lg-2 col-md-11 col-sm-7">
    <br>
        <form class="form-projeto" id="form_alter_senha" name="form_alter_senha" method="POST">                    
            <div class="modal-body">
                <div class="row" style="margin-top:40px; margin-bottom: -20px; color: black; font-weight: bolder; font-size: 20px; width: 50%;">
                    <div class="col-xl-6 col-lg-2 col-md-2 col-sm-14">
                        <div class="form-group">
                            <label for="txtProjeto" style="color:rgb(0,0,0);">Código do Projeto</label>
                            <input type="text" class="form-control" id="txtCodigoProjeto" name="txtCodigoProjeto" value="{{g.proj.codigo_projeto}}" readonly>
                        </div>
                    </div>
                </div>                
                <div class="row" style="color: black; font-weight: bolder; font-size: 20px;">
                    <div class="col-xl-6 col-lg-2 col-md-2 col-sm-14">
                        <div class="form-group">
                            <label for="txtProjeto" style="color:rgb(0,0,0);">Projeto</label>
                            <input type="text" class="form-control" id="txtProjeto" name="txtProjeto" aria-describedby="emailHelp" placeholder="Nome do Projeto" value="{{g.proj.nome_projeto}}">
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-2 col-md-2 col-sm-14">
                        <div class="form-group">
                            <label for="txtLocal_Projeto" style="color:rgb(0,0,0);">Local</label>
                            <input type="text" class="form-control" id="txtLocal_Projeto" name="txtLocal_Projeto" aria-describedby="emailHelp" placeholder="Local do Projeto" value="{{g.proj.local_projeto}}">
                        </div>
                    </div>
                </div>
                <br>
                <div class="row" style="margin-top:-30px; color: black; font-weight: bolder; font-size: 20px;">
                    <div class="col-xl-6 col-lg-2 col-md-2 col-sm-14">
                        <div class="form-group">
                            <label for="txtOrcamento_Projeto" style="color:rgb(0,0,0);">Orçamento</label>
                            <input type="text" class="form-control" id="txtOrcamento_Projeto" name="txtOrcamento_Projeto" placeholder="Orçamento do Projeto" value="{{g.proj.orcamento}}">
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-2 col-md-2 col-sm-14">
                        <div class="form-group">
                            <label for="txtPrazo_Dias" style="color:rgb(0,0,0);">Prazo em Dias</label>
                            <input type="text" class="form-control" id="txtPrazo_Dias" name="txtPrazo_Dias" placeholder="Prazo em Dias" value="{{g.proj.prazo_dias}}">
                        </div>
                    </div>
                </div>
                <br>
                <div class="row" style="margin-top:-30px; color: black; font-weight: bolder; font-size: 20px;">
                    <div class="col-xl-6 col-lg-2 col-md-2 col-sm-14">
                        <div class="form-group">
                            <label for="txtData_Inicio" style="color:rgb(0,0,0);">Data Inicio</label>
                            <input type="date" class="form-control" id="txtData_Inicio" name="txtData_Inicio" placeholder="Data que o Projeto inicia" value="{{g.proj.data_inicio}}">
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-2 col-md-2 col-sm-14">
                        <div class="form-group">
                            <label for="txtData_Fim" style="color:rgb(0,0,0);">Data de Finalização</label>
                            <input type="date" class="form-control" id="txtData_Fim" name="txtData_Fim" placeholder="Data de Finalização do Projeto" value="{{g.proj.data_finalizacao}}">
                        </div>
                    </div>
                </div>
                    <br>
                <div class="row" style="margin-top:-30px; color: black; font-weight: bolder; font-size: 20px;">
                    <div class="col-xl-6 col-lg-2 col-md-2 col-sm-14">
                        <div class="form-group">
                            <label for="cbCliente" style="color:rgb(0,0,0);">Cliente</label>
                            <select name="cbCliente" id="cbCliente" style="height: 40px; font-size: 18px;" class="form-control select-cli">
                                <option id=""></option>
                                {% for cnt in clientes:%}
                                    {% if cnt[0] == g.proj.codigo_cli:%}
                                        <option SELECTED value="{{cnt[0]}}">{{cnt[1]}}</option>
                                    {%else:%}
                                        <option value="{{cnt[0]}}">{{cnt[1]}}</option>
                                    {%endif%}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-2 col-md-2 col-sm-14">
                        <div class="form-group">
                            <label for="cbStatus" style="color:rgb(0,0,0);">Status</label>
                            <select name="cbStatus" id="cbStatus" style="height: 40px; font-size: 18px;" class="form-control select-cli">
                                <option value=""></option>
                                {% for cnt in status:%}
                                    {% if cnt[0] == g.proj.codigo_status:%}
                                        <option SELECTED value="{{cnt[0]}}">{{cnt[1]}}</option>
                                    {%else:%}
                                        <option value="{{cnt[0]}}">{{cnt[1]}}</option>
                                    {%endif%}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <div class="row" style="margin-top:-30px; color: black; font-weight: bolder; font-size: 20px;">
                    <div class="col-xl-6 col-lg-4 col-md-4 col-sm-14">
                        <div class="form-group">
                            <table style="width: 100%;  border-radius: 10px 10px 0 0;">
                                <tr style="height: 2px; background-color: #36304a;">
                                    <td style="width: 76%;  ">
                                        <label style="color:rgb(255,255,255); font-size: 50; font-weight: bolder;">Funcionarios</label>
                                    </td>
                                    <td style="width: 24%; text-align: left; ">
                                        <label style="color:rgb(255,255,255); font-size: 50; font-weight: bolder;">Função</label>
                                    </td>
                                </tr>
                            </table>
                            
                            <div style="overflow: auto; overflow-y: scroll; height: 200px;  background-color: rgb(220,220,220);">
                                <table style="width: 100%;  border-radius: 0 0 0;" class="table table-striped table-dark">
                                    {% if funcionarios: %}
                                        {% for cnt in funcionarios: %}                   
                                            <tr style="height: 2px;">
                                                <td style="width: 80%;">
                                                    &nbsp;&nbsp;<input type="checkbox" value="{{cnt[0]}}" {{cnt[7]}} name="ckFunc" id="ckFunc{{cnt[0]}}"> <label for="ckFunc{{cnt[0]}}">{{cnt[2]}}</label>
                                                </td>
                                                <td style="width: 20%;">
                                                    <label style=" font-size: 50; font-weight: bolder;">{{cnt[5]}}</label>
                                                </td>
                                            </tr>
                                        {%endfor%}
                                    {%else:%}
                                    <tr>
                                        <td colspan="2" style="border-radius: 0 0 0 0;">
                                            <h4>Não há nenhum fundionario disponivel!</h4>
                                        </td>
                                    </tr>
                                    {%endif%}                                 
                                </table>                                            
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-4 col-md-4 col-sm-14">
                        <div class="form-group">
                            <label for="txtObs" style="color:rgb(0,0,0);">Observações</label>
                            <textarea type="text" style="height: 200px;" class="form-control" id="txtObs" name="txtObs" value="{{g.proj.observacao}}">{{g.proj.observacao}}</textarea>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="modal-footer border-top-0 d-flex justify-content-center" style="margin-top: -10px;">
                {% if g.proj.codigo_projeto == 0:%}
                    <button type="submit" id="btn_admin_cli" name="btn_admin_cli" value="btn_salvar_projeto" class="btn btn-success" onclick="" style="width: 120px; height: 30px; line-height: 0;">Salvar</button>
                {%else:%}
                    <button type="submit" id="btn_admin_cli" name="btn_admin_cli" value="btn_alterar_projeto" class="btn btn-success" onclick="" style="width: 120px; height: 30px; line-height: 0;">Alterar</button>
                {%endif%}
              <button type="button" id="btn_admin_cli" name="btn_admin_cli" value="btn_deletar_projeto" class="btn btn-success" onclick="fAlterarSenha();" style="width: 120px; height: 30px; line-height: 0;  background-color: red;" hidden>Deletar</button>
              <a href="{{url_for('profile')}}" class="btn btn-success" onclick="" style="width: 120px; height: 30px; line-height: 0;">Cancelar</a>
            </div>
          </form>       
    </div>
    
    {% if g.proj.codigo_projeto == 0:%}
        <div class="col-xl-6 col-lg-2 col-md-11 col-sm-7 list-column" style="margin-left: 0px; height: 0px;">
        </div>
    {%else:%}
        <div class="col-xl-6 col-lg-2 col-md-11 col-sm-7 list-column" style="margin-top: 25px; height: 720px;">
            <h3 style="text-align: center;">Progresso do Projeto</h3>
            
                <div class="row list-project" style="margin-top:10px; color: black; font-weight: bolder; font-size: 20px; height: 500px;">
                    <div class="col-xl-12 col-lg-2 col-md-4 col-sm-4 list-column" style="height: 540px;">
                        <div class="form-group">
                            <table style="width: 100%;  border-radius: 10px 10px 0 0;">
                                <tr style="height: 2px; background-color: #36304a;">
                                    <td style="width: 76%;  ">
                                        <label style="color:rgb(255,255,255); font-size: 50; font-weight: bolder;">Serviços</label>
                                    </td>
                                </tr>
                            </table>
                            <form class="form-projeto" id="form_insert_img" name="form_insert_img" method="POST">
                                <div style="overflow: auto; overflow-y: scroll; height: 500px;  background-color: rgb(220,220,220);">
                                    <table style="width: 100%;  border-radius: 0 0 0;" class="table table-striped table-dark">
                                        {% for cnt in servicos: %}                   
                                            <tr style="height: 2px;">
                                                <td style="width: 30%;">
                                                    <input type="number" value="{{g.proj.codigo_projeto}}" id="txtcodigo_pro" name="txtcodigo_pro" hidden>
                                                    &nbsp;&nbsp;<input type="checkbox" value="{{cnt[0]}}" {{cnt[2]}} name="ckServicos" id="ckServicos"> <label for="ckFunc">{{cnt[1]}}</label>                                                    
                                                </td>
                                                <td style="width: 60%;">
                                                    
                                                        <input type="range" name="{{cnt[0]}}" id="{{cnt[0]}}" list="{{cnt[1]}}" style="width: 100%;" min="0" max="100" step="10" value="{{cnt[3]}}">
                                                        <datalist id="{{cnt[1]}}">
                                                            <option value="0">
                                                            <option value="10">
                                                            <option value="20">
                                                            <option value="30">
                                                            <option value="40">
                                                            <option value="50">
                                                            <option value="60">
                                                            <option value="70">
                                                            <option value="80">
                                                            <option value="90">
                                                            <option value="100">
                                                        </datalist>
                                                    
                                                </td>
                                            </tr>
                                        {%endfor%}                                
                                    </table>                                            
                                </div>
                                <br>
                                <button type="submit" id="btn_admin_cli" name="btn_admin_cli" value="btn_insert_servio" class="btn btn-success" onclick="" style="width: 120px; height: 30px; line-height: 0;">Atualizar</button>
                            </form>
                        </div>
                    </div>
                                                   
                </div>
        </div>


        <div class="col-xl-6 col-lg-2 col-md-11 col-sm-7 list-column" style="margin-top: 25px; height: 720px;">
            <h3 style="text-align: center;">Imagens do Projeto <br><span style="color: red; font-weight: bold;">(Maximo 1mb)</span></h3>
            <form class="form-projeto" id="form_insert_img" name="form_insert_img" method="POST" enctype="multipart/form-data">                    
                <div class="row list-project" style="margin-top:10px; color: black; font-weight: bolder; font-size: 20px; height: 40px;">
                    <input type="number" value="{{g.proj.codigo_projeto}}" id="txtcodigo_pro" name="txtcodigo_pro" hidden>
                    <div class="col-xl-6 col-lg-2 col-md-11 col-sm-7 list-column" style="margin-left: 0px; height: 40px;">
                        <input type="file" accept=".jpg, .png, .jpeg, .gif, .bmp, .tif, .tiff|image/*" id="fileImagens" name="fileImagens" style="width: 100%;">
                    </div>
                    <div class="col-xl-6 col-lg-2 col-md-11 col-sm-7 list-column" style="margin-left: 0px; height: 40px; text-align: center;">
                        <input type="checkbox" name="checkCapa" id="checkCapa" >&nbsp;<label for="checkCapa" style="color:rgb(0,0,0);">Capa</label>&nbsp;&nbsp;
                        <button type="submit" id="btn_admin_cli" name="btn_admin_cli" value="btn_insert_img" class="btn btn-success" onclick="" style="width: 150px; height: 30px; line-height: 0;">Salvar Imagem</button>
                    </div>
                </div>
                <br>
                <br>
                <div class="row list-project" style="margin-top:10px; color: black; font-weight: bolder; font-size: 12px; height: 420px; overflow: auto; overflow-y: scroll;">
                    {%if ImagensProjeto:%}
                        {% for cnt in ImagensProjeto: %}
                            <div class="col-xl-4 col-lg-12 col-md-12 col-sm-14">
                                <form class="form-projeto"  method="POST">
                                    <input type="number" value="{{g.proj.codigo_projeto}}" id="txtcodigo_pro" name="txtcodigo_pro" hidden>
                                    <input type="text" id="img_projeto" name="img_projeto" value="{{cnt[2]}}" hidden>
                                    <div class="box--image">
                                        <div class="box__wrapper no-shadow">
                                            <div class="box__header">
                                                <div class="box__image /img-into-bg">
                                                    <img src="{{cnt[1]}}{{cnt[2]}}"style="width: 250px; height: 225px; border: 1cm; border-color: black; border-radius: 10px;">
                                                    <h4 class="reveal1"><label style="width: 80px; font-size: 12px; width: 50%;">{{cnt[2][:15]}}</label></h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--<img src="{{cnt[1]}}{{cnt[2]}}"style="width: 250px; height: 225px; border: 1cm; border-color: black; border-radius: 10px;">
                                    <label style="width: 80px; font-size: 12px; width: 50%;">{{cnt[2][:15]}}</label>-->
                                    <button type="submit" id="btn_admin_cli" name="btn_admin_cli" value="btn_delete_img" class="btn btn-success" onclick="" style="width: 80px; height: 30px; line-height: 0; background-color: rgb(200,0,0);">Deletar</button>                                      
                                </form>                                 
                                <br>
                            </div>
                                    
                        {% endfor %}
                    {%endif%}
                </div>
            </form>
        </div>
    {%endif%}
</div>

{%endblock%}