{% extends 'base.html' %}



{% block Banner %} 
    <div class="container" style="">
        <div class="row">
            <div class="hero__outer-wrapper">
                <div class="hero__inner-wrapper align-middle">
                    <h1>
                        <span class="hero__title">O QUE VOCÊ PRECISA?</span>
        <br>
                        <a class="hero__title text-carousel" href="#our-works" >Nos temos a solução!, Resolvemos tudo pra você!, Sem dor de cabeça!</a>
                        <br>
                </h1>
                    <!--end h1-->
                    <a href="#contact" class="hero__link align-items-center"><br><br>
                        <figure class="mb-0 align-middle"></figure>
                        FALE CONOSCO!
                    </a>
                    <!--end hero__link-->
                </div>
                <!--end container-->
            </div>
            <!--end hero__inner-wrapper-->
        </div>
        <!--end row-->
    </div>
    <!--end hero__outer-wrapper-->

    <div class="hero__background 1skew-down-left">
        <!--<div class="background-wrapper skew-down-left" data-background-color="#000000" data-parallax="scroll" data-parallax-speed="3" >-->
            <!--<div class="background&#45;&#45;image opacity-30 background&#45;&#45;repeat-repeat parallax-element">-->
                <!--</img src="/static/imgs/bg-01.jpg" alt="">-->
            <!--</div>-->
        <!--</div>-->
        
        <div class="background-wrapper" data-parallax="scroll" data-parallax-speed="12" data-background-color="#000000" >                    
            <div class="background opacity-40">
                <div class="owl-carousel hero__slider parallax-element" data-owl-items="1" data-owl-autoplay="1" data-owl-dots="1" data-owl-nav="1" data-owl-loop="1" data-owl-fadeout="1">                            
                    {% for row in slide: %}
                        <div class="slide /img-into-bg">
                            <img src="{{ row[1] }}{{ row[2] }}" alt=""/>                                
                        </div>
                    {% endfor %}                            
                </div>
            </div>
        </div>
        <!--end background-->
    </div>
{% endblock %}
{% block Corpo %}

<section class="pt-4 block" id="about-us">
    <div class="container">
        <div class="block__wrapper">
            <div class="block__title"><br><br>
                <h2 class="reveal1">Separamos algumas materias para vocês curtirem.</h2>
            </div>
            <!--end block-title-->

            <div class="row" style="margin-top:-80px">
                <div class="col-md-12">
                    <p>
                        </p><h4>SEMANALMENTE VAMOS RECHEAR ESTE CANAL COM INFORMAÇOES QUE PODEM SEMPRE TE INTERESSAR</h4><br>
<p></p>                            </div>
                <!--end col-md-7-
                <div class="col-md-5">
                    <img class="width-100 shadow rounded-corners" src="assets/img/nos.jpg" alt="">
                </div>-->
                <!--end col-md-5-->
            </div>
            <!--end row-->
        </div>
        <!--end block__wrapper-->
    </div>
    <!--end container-->
</section>
<!--end #about-us.block-->



<!--BLOG ************************************************************************************************-->

<section class="pt-4 block" id="blog" style="margin-top:-80px">
    <div class="container" style="margin-top:-110px">
        <div class="block__wrapper">
            <!--end block-title-->

            <div class="row" style="margin-top:50px">


                {%for cnt in img_blog: %}
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12" style="margin-bottom:-50px">
                        <a href="http://prgt.com.br/post.asp?code=43" class="box box--image">
                            <div class="box__wrapper no-shadow">
                                <div class="box__header">
                                    <div class="box__image img-into-bg" style="background-image: url(&quot;{{cnt[0]}}{{cnt[1]}}&quot;);">
                                        <img src="{{cnt[0]}}{{cnt[1]}}" alt="">
                                    </div>
                                </div>
                                <div class="box__content px-0">
                                    <h5 style="margin-top:-80px">{{cnt[3]}}</h5>
                                    <h4 class="reveal1">{{cnt[4]}}</h4>
                                    <p class="mb-4">{{cnt[5]}}</p>
                                </div>
                            </div>
                        </a>
                    </div>
                {%endfor%}



                <!--end col-xl-4-->
            </div>
            <!--end row-->
        </div>
    </div>
    <!--end container-->
</section>
<!--end #blog.block-->


{% endblock %}