{% extends 'base.html' %}

{% block Banner %} 
    <div class="container" style="">
        <div class="row">
            <div class="hero__outer-wrapper">
                <div class="hero__inner-wrapper align-middle">
                    <h1>
                        <span class="hero__title">O QUE VOCÊ PRECISA?</span>
        <br>
                        <a class="hero__title text-carousel" href="#our-works" >Nos temos a solução!, Resolvemos tudo pra você!, Sem dor de cabeça!</a>
                        <br>
                </h1>
                    <!--end h1-->
                    <a href="#contact" class="hero__link align-items-center"><br><br>
                        <figure class="mb-0 align-middle"></figure>
                        FALE CONOSCO!
                    </a>
                    <!--end hero__link-->
                </div>
                <!--end container-->
            </div>
            <!--end hero__inner-wrapper-->
        </div>
        <!--end row-->
    </div>
    <!--end hero__outer-wrapper-->

    <div class="hero__background 1skew-down-left">
        <!--<div class="background-wrapper skew-down-left" data-background-color="#000000" data-parallax="scroll" data-parallax-speed="3" >-->
            <!--<div class="background&#45;&#45;image opacity-30 background&#45;&#45;repeat-repeat parallax-element">-->
                <!--</img src="/static/imgs/bg-01.jpg" alt="">-->
            <!--</div>-->
        <!--</div>-->
        
        <div class="background-wrapper" data-parallax="scroll" data-parallax-speed="12" data-background-color="#000000" >                    
            <div class="background opacity-40">
                <div class="owl-carousel hero__slider parallax-element" data-owl-items="1" data-owl-autoplay="1" data-owl-dots="1" data-owl-nav="1" data-owl-loop="1" data-owl-fadeout="1">                            
                    {% for row in slide: %}
                        <div class="slide /img-into-bg">
                            <img src="{{ row[1] }}{{ row[2] }}" alt=""/>                                
                        </div>
                    {% endfor %}                            
                </div>
            </div>
        </div>
        <!--end background-->
    </div>
{% endblock %}

{% block Corpo %}

<style>
@media(max-width: 500px){
    .texto{font-size: 12px; padding:1px;}
</style>

    <section class="pb-0 block" style="background-color:#c5ca9e; margin-top:-0px"">
        <div class="container">
            <div class="block__title" style="text-align:center; margin-bottom:130px" ><br><br>
                <h1 class="reveal1" style="color:#fff">Comprou seu apartamento novo? <br> Cansou do visual e quer reformar?</h1>
                <div style="background:#fff; opacity:.6; text-align:center;"><h2 style="padding:0px" ><p class="texto">Quase 90% das pessoas já tiveram problemas com obra!</p></h2></div> 
                <div style="background:#fff; opacity:.6; text-align:center;"><h2 style="padding:0px" ><p class="texto" >Temos certeza que você não fará parte dessa estatística!</p> </h2></div> 
                <div id="what-we-do" style="background:#000; opacity:.5; color:#fff; text-align:center;"><h2 class="texto" style="padding:0px"><p class="texto" >Nós oferecemos exatamente tudo o que você precisa!</p> </h2></div> 
            </div>
        <!--end block-title-->
    <script type="text/javascript">
        $("#fittext").fitText(5);
    </script>
 

            <div class="row" style="margin-top:50px" >
                <!--end col-md-4-->
                <div class="col-md-12">


                <div class="col-md-12" >
                    <div class="box">
                        <div class="box__wrapper"><a href="service2.html">
                            <div class="box__header">
                                <!--end box__image-->
                                <h1 class="reveal1">Projeto Completo</h1>
                            </div>
                            <!--end box__header-->
                            <div class="box__content2">
                                <p>Para quem prefere atenção diferenciada e presencial, desenvolvemos o projeto de seu imóvel desde o estudo preliminar até a elaboração do projeto executivo detalhado, juntamente com as especificações de materiais e produtos que fazem a sua composição.</p>
                            </div></a><a href="service2.html" class="btn btn-default mb-4">Saiba +</a>
                            <!--end box__content-->
                        </div>
                        <!--end box__wrapper-->
                    </div>
                    <!--end box-feature-->
                </div>
                <!--end col-md-4-->
                    <div class="box">
                        <div class="box__wrapper"><a href="service6.html">
                            <div class="box__header">
                                <!--end box__image-->
                                <h1 class="reveal1">Decoração de Ambientes</h1>
                            </div>
                            <!--end box__header-->
                            <div class="box__content2">
                                <p>Nossa equipe de decoração de interiores, fará a composição de todos os elementos que farão parte dos ambientes de seu imóvel. Desde mobiliários, decoração, eletrodomésticos, até as plantas de sua casa serão definidos conforme o estilo e desejo de vocês.  </p>
                            </div></a><a href="service6.html" class="btn btn-default mb-4">Saiba +</a>
                            <!--end box__content-->
                        </div>
                        <!--end box__wrapper-->
                    </div>                                
                    <!--end box-feature-->
                </div>
                <!--end col-md-4-->

                <div class="col-md-12">
                    <div class="box">
                        <div class="box__wrapper"><a href="service3.html">
                            <div class="box__header">
                                <!--end box__image-->
                                <h1 class="reveal1">Execução Total da Obra</h1>
                            </div>
                            <!--end box__header-->
                            <div class="box__content2">
                                <p>Executamos todos os serviços necessários para uma obra através de equipes próprias, altamente qualificadas e compostas por profissionais com diferentes especialidades, facilitando a sua vida para que você tenha apenas um fornecedor e encontre tudo que necessita em um único local.</p>
                            </div></a><a href="service3.html" class="btn btn-default mb-4">Saiba +</a>
                            <!--end box__content-->
                        </div>
                        <!--end box__wrapper-->
                    </div>
                    <!--end box-feature-->
                </div>
                        <!--end box-feature-->
                </div>

                <div class="row" style="margin-top:50px" >
                <!--end col-md-4-->
                <!--end col-md-4-->
                <div class="col-md-12">
                    <div class="box">
                        <div class="box__wrapper"><a href="service5.html">
                            <div class="box__header">
                                <!--end box__image-->
                                <h1 class="reveal1">Gerenciamento de Obras</h1>
                            </div>
                            <!--end box__header-->
                            <div class="box__content2">
                                <p>Fazemos o gerenciamento global de todos os fornecedores de serviços que serão necessários de uma obra, desde o início até a entrega da chave, para que você nâo tenha que se envolver pessoalmente com quem contrata. Simplesmente entra no imóvel com tudo pronto.</p>
                            </div></a><a href="service5.html" class="btn btn-default mb-4">Saiba +</a>
                            <!--end box__content-->
                        </div>
                        <!--end box__wrapper-->
                    </div>
                    <!--end box-feature-->
                </div>
                <!--end col-md-4-->
                <div class="col-md-12">
                    <div class="box">
                        <div class="box__wrapper"><a href="service8.html">
                            <div class="box__header">
                                <!--end box__image-->
                                <h1 class="reveal1">Paisagismo</h1>
                            </div>
                            <!--end box__header-->
                            <div class="box__content2">
                                <p>Fazemos o gerenciamento global de todos os fornecedores de serviços que serão necessários de uma obra, desde o início até a entrega da chave, para que você nâo tenha que se envolver pessoalmente com quem contrata. Simplesmente entra no imóvel com tudo pronto.</p>
                            </div></a><a href="service8.html" class="btn btn-default mb-4">Saiba +</a>
                            <!--end box__content-->
                        </div>
                        <!--end box__wrapper-->
                    </div>
                    <!--end box-feature-->
                </div>
                <!--end col-md-4-->          
                <div class="col-md-12">
                    <div class="box">
                        <div class="box__wrapper"><a href="service4.html">
                            <div class="box__header">
                                <!--end box__image-->
                                <h1 class="reveal1">Ambientes 3D e 360&deg</h1>
                            </div>
                            <!--end box__header-->
                            <div class="box__content2">
                                <p>Criamos fotos realistas internas e externas do seu imóvel para que possa visualizar o layout, a volumetria e decoração do seu projeto, antes mesmo de pegar as chaves ou iniciar sua obra. Com a câmera 3D a pessoa pode se sentir dentro de cada ambiente em 360 graus.</p>
                            </div></a><a href="service4.html" class="btn btn-default mb-4">Saiba +</a>
                            <!--end box__content-->
                        </div>
                        <!--end box__wrapper-->
                    </div>
    </div>
                <!--end col-md-4-->
                <div class="col-md-12">
                    <div class="box ">
                        <div class="box__wrapper"><a href="service1.html">
                            <div class="box__header">
                                <!--end box__image-->
                                <h1 class="reveal1">Projetos Online</h1>
                            </div>
                            <!--end box__header-->
                            <div class="box__content2">
                                <p>Simples e fácil! Para que prefere não perder tempo e um custo balanceado fazemos o projeto do seu imóvel sem você sair de casa, enviado diretamente no seu e-mail. Assim que nos enviar as plantas e fotos do seu imóvel, entramos em contato para desenvolver o briefing e logo em seguida o seu projeto. </p>
                            </div></a><a href="service1.html" class="btn btn-default mb-4">Saiba +</a><br><br>
                            <!--end box__content-->
                        </div>
                        <!--end box__wrapper-->
                    </div>
                    <!--end box-feature-->
                </div>


            </div>
            <!--end row-->
        </section>

        <!--end container-->
    
    <!--end #what-we-do.block-->

    <!--OUR WORKS ********************************************************************************************-->
    <section class="pb-0 block" id="our-works" style="background-color:#27130b; background-image: url('/static/imgs/madeira.jpg')">
        <div class="container" style="margin-top:0px">
            <div class="block__title"><br><br>
                <h2 class="reveal1" style="color:#ffffff">Nossos Trabalhos</h2>
            </div>
            <!--end block-title-->
        </div>
        <!--end container-->

        <div class="gallery 1skew-down-left 1skew-up-right" style="margin-top:-40px"> 
            <div class="container-fluid px-0">
                <div class="row no-gutters">
                    {% for row in gallery_container: %}
                        <div class="col-md-4">
                            <a href="{{ row[1] }}{{ row[2] }}" class="gallery__image popup-image">
                            <!--<a href="http:/www.youtube.com/watch?v=0O2aH4XLbto" class="gallery__image video-popup"> -->
                                <div class="gallery__caption">
                                <!--   <h3>
                                        <i class="fa fa-play-circle"></i>
                                    </h3>-->
                                    <h4>{{ row[4] }}</h4>
                                </div> 
                                <div class="/img-into-bg">
                                    <img src="{{ row[1] }}{{ row[2] }}" alt=""/>
                                </div>
                            </a>
                            <!--end gallery__image-->
                        </div>
                    {% endfor %}                            
                    <!--end col-md-4-->                           
                </div>
                <!--end row-->

            </div>
            <!--end container-fluid-->
        </div>
        <!--end gallery-->

        <div class="my-2 text-center" style="width:100%"><br>
            <a href="fotos.html" class="btn btn-primary" atyle="font-size:24px">>> CLIQUE  E  VEJA  AQUI  NOSSOS  VÁRIOS TRABALHOS <<</a><br><br>
        </div>
        <!--end button my-2 text-center-->
    </section>
    <!--end #our-works.block-->

    <!--ABOUT US ********************************************************************************************-->

    <section class="pt-4 block" id="about-us" >
        <div class="container" >
            <div class="block__wrapper">
                <div class="block__title" style="margin-bottom:50px"><br><br>
                    <h2 class="reveal1">Sobre Nós</h2>
                </div>
                <!--end block-title-->

                <div class="row" style="margin-top:00px">
                    <div class="col-md-5">
                        <p style="font-size:20px; line-height: 140%; margin-bottom:60px; padding-right:20px; font-weight:bold;">
                            <b>A PRGT é muito mais que um escritório de arquitetura, é uma empresa especializada em reformas residenciais com todos os serviços que você precisa em um único lugar, com o objetivo de concentrar todo gerenciamento da obra em uma única equipe para facilitar muito a sua vida. </b></p>

                        <p style="font-size:17px; padding-right:20px">
                            É uma empresa que desde 1994 alia o que há de melhor e mais atual na Arquitetura, Decoração e Engenharia, oferecendo tudo o que seu projeto precisa para sair do papel e se tornar realidade. Através desta experiência consolidou equipes de profissionais altamente qualificados que busca diariamente a excelência, capacidade criativa e inovação, visando melhorar a qualidade de vida dos nossos clientes. <br><br>

                            Nós nos preocupamos com seu projeto, desde apresentar e escolher as melhores soluções até o resultado final da obra em plenas condições de funcionamento, com a qualidade e prazo pré-estabelecido. Você não precisa se preocupar com nada. Nós cuidamos disto para você. É só entrar em seu novo lar e desfrutar do que foi realizado!
                        </p>

                    </div>
                    <!--end col-md-7-->
                    <div class="col-md-5">
                        <img class="shadow rounded-corners" src="/static/imgs/outros/nos.jpg" width="100%px" alt=""/><br><br><br>
                        <a href="#contact" class="btn btn-default mb-4">Contate-nos</a>
                    </div>
                    <!--end col-md-5-->
                </div>
                <!--end row-->
            </div>
            <!--end block__wrapper-->
        </div>
        <!--end container-->
    </section>
    <!--end #about-us.block-->

    <!--THE TEAM ********************************************************************************************-->

    <section class="pb-4 block skew-down-left skew-up-right" id="the-team" style="background-color:#c4c0ab">
        <div style="margin-bottom:50px" class="container" style="background-color:orange">

                <div class="block__title">
                    <h2 class="reveal1">Câmera 360&deg;</h2>
                    <p style="font-size:16px">Com essa nova forma de visualizar seu projeto você pode experimentar o ambiente de forma imersiva com o controle direto da câmera, sendo mais atraente do que imagens estáticas. A navegação pela representação 3d do projeto permite visualizar todos os detalhes, com mais percepção dos espaços, materiais e revestimentos. A Câmera 360&deg; é especialmente relevante em projetos detalhados ou complexos para as pessoas que não conseguem imaginar o projeto como um todo somente olhando as plantas apresentadas durante a elaboração dos projetos. 
                        </p>
                </div>
                <!--end block-title-->

                <div style="width:100%; text-align:center; margin-top:-60px; margin-left:0px;">
                    <div ><a href="frm1.html" target="_blank"><img  src="/static/imgs/outros/frm1.jpg" style="width:90%" /></a></div><br><br><br><br>
                </div>



                <!--end row-->
            </div>
            <!--end block__wrapper-->

        <!--end container-->
        <div class="background-wrapper" data-background-color="#ffffff">
            <div class="background background--image opacity-30 background--repeat-repeat">
                <img src="/static/imgs/outros/pattern-topo.png" alt=""/>
            </div>
        </div>
        <!--end background-->
    </section>
    <!--end #our-team.block-->





    <!--BLOG ************************************************************************************************-->

    <section class="pt-4 block" id="blog" style="margin-top:0px">
        <div class="container" style="margin-top:-110px">
            <div class="block__wrapper">
                <div class="block__title"><br><br>
                    <h2 class="reveal1">Blog</h2>
                </div>
                <!--end block-title-->

                <div class="row" style="margin-top:-30px">


                    {% for cnt in Tabela: %}
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                        <a href="post.asp?code=" class="box box--image">
                            <div class="box__wrapper no-shadow">
                                <div class="box__header">
                                    <div class="box__image /img-into-bg">
                                        <img src="/static/imgs/blogs/blog{{cnt[0]}}/capablog1.jpg" alt=""/>
                                    </div>
                                </div>
                                    <h5 style="margin-top:30px">{{cnt[1]}}</h5>
                                    <h4 class="reveal1">{{cnt[3]}}</h4>
                                    <p class="mb-4">... {{cnt[5]}}</p>
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                    
                </div>
                <!--end row-->
                                            <!--end col-xl-4-->
                        <a href="blog.asp" class="btn btn-default mb-4" style="margin-top:-25px">Veja todos os nossos Posts</a>
            </div>
        </div>
    </section>
        
{% endblock %}

